.home_section{
  width: 100%;
}
.image_section{
  border-radius: 10px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  position: relative;
}
.img_text{
  position: absolute;
  top: 35%;
}
.img_text h1{
  font-size: 50px;
  color: aliceblue;
}
.img_text p{
  font-size: 25px;
  letter-spacing: 1px;
  color: white;
  font-weight: 500;
}
.image_landing{
  border-radius: 10px;
  opacity: 0.77;
}

.cards{
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}